[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "==3.12.1"
django-filter = "==2.4.0"
django-extensions = "==3.0.3"
django-allauth = "==0.42.0"
django-model-utils = "==4.0.0"
django-admin-sortable = "==2.2.3"
dj-rest-auth = "==1.0.7"
pre-commit = "==2.4.0"
shortuuid = "==1.0.1"
Django = ">=3.1"
Markdown = "==3.2.2"
PyYAML = "==5.3.1"
Pillow = "==7.1.2"

[dev-packages]

[requires]
python_version = "3.9"
